@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@* @model TModel *@
@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
<h2>Login Form</h2>
<form method='post'>
    <p>
        <label>Name User</label><br />
        <input name='name' />
    </p>
    <p>
        <label>Password</label><br />
        <input type='password' name='password' />
    </p>
    <input type='submit' value='Login' />
</form>
@int a;
@* @(new ProtectedSessionStorage()) *@
</div>
</body>
</html>